    @font-face {
    font-family: font1;
    src: url(font/ChampagneLimousines.ttf);
}

/*-----------------------------------------------------------------------------------*/

body {
    background-image: url("img/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.spacer {
    margin: 50px;
}

/* ------------------------------- MainProduktSidan ---------------------------------*/

#companyName {
    font-family: font1;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
}

.products {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.product {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 100px;
}

.productInfo {
    text-align: right;
    margin-right: 20px;
    width: 40%;
}

.productInfo p {
    margin: 0px;
}

.productName {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.energyIcon {
    padding-top: 20px;
    width: 80px !important;
}

.part {
    font-size: 15px;
    color: #a7a4a4;
    font-weight: 200;
    padding-top: 20px;
}

.review {
    padding-left: 14px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding-top: 6px;
}

.priceTag {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 600;
}   

.descriptions {
    padding-top: 40px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    text-align: left;
}

#specifications {
    text-decoration: none;
    color: #a7a4a4;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*-------------------------------- MainProduktBilden --------------------------------*/

.imageContainer {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-left: 10%;
}

.imageContainer2 {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 460px;
    padding-left: 10%;
}

.imageContainer2 img {
    padding-bottom: 40px;
}

.mainIMG {
    max-width: 700px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* -------------------------- Förstoring av produktbild -----------------------------*/

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
    z-index: 200;
}

#container:target {
    visibility: visible;
    display: block;
    z-index: 99999999;
}

.reveal-modal {
    background:#ffffff; 
    margin: auto auto;
    max-width: 960px;
    max-height: 800px;
    position:relative; 
    z-index:41;
    overflow: hidden;
}

.reveal-modal img {
    object-fit: contain;
    width: auto;
    max-height: 610px;
}

.close-reveal-modal {
    text-decoration: none;
    align-self: flex-end;
    padding-right: 0px;
    color: black;
}

.close-reveal-modal img {
    width: 100px;
    height: auto;
}

#exampleModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showLargeImage {
    text-decoration: none;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #a7a4a4;
}

/*----------------------------------- Köpknapp --------------------------------------*/

.addToCart {
    padding-top: 20px;
    position: relative;
}

.buyButton {
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 0px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
    width: 260px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.555);
}

.buyButton:after {
    content: "";
    background: #363636;
    display: block;
    position: absolute;
    padding-top: 20%;
    padding-left: 40%;
    margin-left: 30%;
    margin-top: -140%;
    opacity: 0;
    transition: all 1.2s;
}

.buyButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buyButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buyButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buyButton:hover span {
    padding-right: 25px;
}

.buyButton:hover span:after {
    opacity: 1;
    right: 0;
  }

.buyButton:hover {background-color: #636161}

/*-----------------------------------------------------------------------------------*/

.headerContainer {
    width: 80%;
    margin-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.headerContainer1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.781);
    position: fixed;
    z-index: 99999;
}

.header1 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.781);
    position: fixed;
    z-index: 100;
}

.searchBox {
    font-family: font1;
    color: black;
    font-weight: 600;
    width: 90%;
    margin: 60px 0 1px 5%;
    height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 9999;
    border: 1px solid rgb(175, 175, 175);
}

.searchBox1 {
    font-family: font1;
    color: black;
    font-weight: 600;
    width: 80%;
    margin: 60px 0 1px 10%;
    height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 9999;
    border: 1px solid rgb(175, 175, 175);
}

input.searchBox::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    padding-left: 10px;
    font-size: 20px;
}

input.searchBox1::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    padding-left: 10px;
    font-size: 20px;
}

.menuSmallScreen {
    position: fixed;
    width: 96%;
    display: flex;
    justify-content: space-between;
    order: -2;
    padding: 1% 2% 0 2%;
}

.menuSmallScreen img {
    width: 25px;
    height: 25px;
    visibility: hidden;
    padding: 5px 5px 0 5px;
}

.menuSmallScreenOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 50px 10px;
}

.menuSmallScreenOptions a{
    width: 400px;
    font-family: font1;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px;
    margin: 20px;
    border: 1px solid rgba(124, 124, 124, 0.774);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.315);
}

.whiteBackground {
    background-image: none;
    background-color: white;
}

.column {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortSection {
    padding-top: 50px;
    background-color: white;
}

.sortSection header {
    text-align: right;
    padding-bottom: 20px;
    font-family: font1;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
}

.sortByContainer {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.3%;
    padding-bottom: 2%;
}

.sortBy {
    height: 40px;
    font-family: font1;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer; /* Gör att vi får en pekhand istället för pil vid mouse over*/
}

.column2 {
    width: 100%;
}


#headLine {
    flex-direction: column;
}

.column2 div {
    display: flex;
    justify-content: space-around;
}

.column2 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 25%;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    overflow: hidden;
}

.column2 p {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #555;
    text-align: center;
    letter-spacing: 1px;
    margin: 2px;
}

.column2 img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*Gör så att bilden anpassar sig efter behållaren så att den blir så stor som  möjligt utan att förlora sin aspect ratio*/
}

.extraPaddingIMG {
    width: 100%;
    height: 100%;
    padding-top: 17%;
    padding-bottom: 17%;
    object-fit: contain; /*Gör så att bilden anpassar sig efter behållaren så att den blir så stor som  möjligt utan att förlora sin aspect ratio*/
}

/*------------------------------------------------------------------------------*/
.styleStars {
    color: #ffcd00!important;
    font-size: 20px !important;
    overflow: hidden!important;
    position: absolute;
    z-index: 1;
}

.starsYellow {
    color: #ffcd00 !important;
    font-size: 20px !important;
    position: absolute;
}

.starsGrey {
    color: #ddd!important;
    font-size: 20px !important;
    position: absolute; 
}

.starsAlign {
    position: relative;
    width: 84px;
    margin: 0 auto;
}

.wrapStars {
    display: block !important;
    text-align: center !important;
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 50px;
}

.stars {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.wrapStars2 {
    width: 92px;
}

.starsYellow2 {
    color: #ffcd00 !important;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.starsGrey2 {
    color: #ddd !important;
    font-size: 20px;
    position: absolute;
}

/* ----------------------- ANTAL GULA STJÄRNOR PÅ STORA PRODUKTBILDER ----------------------- */
.stars3_big {
    width: 50px !important;
}

.stars3H_big {
    width: 58px !important;
}

.stars4_big {
    width: 68px !important;
}

.stars4H_big {
    width: 75px !important;
}

.stars5_big {
    width: 82px !important;
}


/* ----------------------- ANTAL GULA STJÄRNOR PÅ SMÅ PRODUKTBILDER ----------------------- */
.starsNone {
    width: 0% !important;
}

.stars3 {
    width: 60% !important;
}

.stars3H {
    width: 70% !important;
}

.stars4 {
    width: 80% !important;
}

.stars4H {
    width: 90% !important;
}

.stars5 {
    width: 100% !important;
}

/* ---------------------------------------------------------------------------------------- */


#price {    
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 23px;
    color: #555;
    text-align: center; 
    margin: 25px;
}

.firstPageImgContainer {
    width: 100%;
    margin: 5% 0 5% 0;
}

.firstPageImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headLine {
    font-family: font1;
    font-size: 35px;
    letter-spacing: 8px;
    padding-top: 30px;
    font-weight: 900;
    align-self: center;
}

.headLine2 {
    font-family: font1;
    font-size: 35px;
    letter-spacing: 8px;
    padding-bottom: 40px;
    padding-top: 100px;
    font-weight: 900;
}

.header a {
    font-family: font1;
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    line-height: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.header a:hover {
    background:  rgba(207, 207, 207, 0.527);
}

.header1 a {
    font-family: font1;
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    line-height: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.header1 a:hover {
    background:  rgba(207, 207, 207, 0.527);
}

.here {
    background:  rgba(207, 207, 207, 0.527);
}

.menuIcon {
    width: 15px;
    height: auto;
}

body {
    margin: 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255, 255, 255, 0.7);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255, 255, 255, 0.7);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255, 255, 255, 0.7);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(255, 255, 255, 0.7);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgb(255, 255, 255, 0.7);
}

#email {
    background-color: #272727;
    font-family: font1;
    letter-spacing: 2px;
    font-size: 16px;
    height: 38px;
    width: 400px;
    padding: 0px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85);
    color: #fff;
}

#subscribe {
    height: 39px;
    width: 150px;
    padding-top: 2px;
    background: linear-gradient(to right,#00b8b0 0%,#00b8b0 25%,#0084a4 100%);
    background-size: 100%;
    color: #fff;
    border-width: 0px; 
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer; /* Gör att vi får en pekhand istället för pil vid mouse over*/
}

.footerHeading1 {
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 900 !important;
}

.footerHeading2 {
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 900 !important;
}

.socialIcon {
    width: 15px;
    height: 15px;
    padding-left: 10px;
}

.footerHeading2 {
    text-align: right;
}

.socialIconContainer {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.socialIconContainer a {
    display: flex !important;
    flex-direction: row;
    padding: 0;
}

.socialIconContainer p {
    margin: 0;
}

.paymentIcon {
    width: 40px;
    height: auto;
    padding-right: 44px;
    padding-bottom: 10px;
}

.paypal {
    width: 30px;
    margin-top: 7px;
    padding-left: 4px;
}

.footerSection1 {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #272727;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: font1;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.footerSection1 a {
    font-family: font1;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    display: inline-block;
}

.footerSection1 p {
    font-size: 14px;
    letter-spacing: 2px;
}

.footerSection2 p {
    font-family: font1;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 4px;
}

.footerSection1 div {
    margin-right: 2%;
}

.footerSection1 nav {
    margin-left: 2%;
}

.footerSection2 {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #272727;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer_part3 {
    background-color: #3e3e3e;
}

.footerSection3 {
    width: 98%;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 10px; 
    font-family: font1;
}

.footerSection3Bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerSection3 a {
    font-family: font1;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
    display: flex;

}

.footerSection3 p {
    letter-spacing: 1px;
    margin: 0;
}

.blog {
    align-self: center;
    padding-bottom: 30px;
}

.blog p {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

.blog2 {
    display: none;
    align-self: center;
    padding-bottom: 30px;
}

.blog2 p {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

.customersSupport {
    display: flex;
    flex-direction: row;
    padding-bottom: 
}

.customersSupport p {
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
    margin: 0;
}

.customersSupport nav {
    display: flex;
    align-items: flex-end;
}

.contactIcon {
    width: 20px;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 8px;
}

.containter1 {
    width: 100%;
}

.footerHeading3 {
    font-size: 20px !important;
    font-family: 'Times New Roman', Times, serif !important;
    margin-bottom: 16px !important;
}

.companyName {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.companyName p {
    padding-right: 15px;
}

.checkoutProduct {
    display: none;
}

@media screen and (max-width: 1400px){

    .checkoutProduct {
        visibility: visible;
        display: flex;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 35%;
        margin-top: -150%;
        opacity: 0;
        transition: all 1.2s;
    }

    .checkoutTable {
        display: none;
    }

    .total1 {
        width: 100% !important;
        margin: 5% 0 5% 0 !important;
    }

    .addedToCart h2 {
        margin: 40px 0 40px 0 !important;
    }

    .addedToCart p {
        color: black !important;
    }

    .checkoutProduct {
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(187, 187, 187);
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .ref {
        font-size: 10px !important;
    }

    .trashImg {
        width: 20px;
    }

}

@media screen and (max-width: 1200px){
    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 40%;
        margin-top: -160%;
        opacity: 0;
        transition: all 1.2s;
    }
}

@media screen and (max-width: 1100px){
    .imageContainer {
        width: 50%;
        padding-left: 5%;
    }

    .imageContainer2 {
        width: 50%;
        padding-left: 5%;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 50%;
        margin-top: -180%;
        opacity: 0;
        transition: all 1.2s;
    }
}

@media screen and (max-width: 1000px){

    .paymentMethod {
        flex-direction: column !important;
    }

    .paymentMethodImgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paymentContainer {
        width: 300px;
    }

    .paymentMethod img {
        width: 80px !important;

    }
    
    .fees {
        align-self: center;
        margin-top: 50px;
        width: 300px !important;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 29%;
        margin-top: -160%;
        opacity: 0;
        transition: all 1.2s;
    }

    .searchBox {
        left: 1.8%;
    }
    
    .products {
        width: 100%;
        margin: 0;
    }

    .column2 div {
        flex-wrap: wrap;
    }

    .column2 a {
        width: 42%;
        margin: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .productContainer2 {
        justify-content: center;
    }

    .spacer {
        margin: 0;
    }

    .headerContainer {
        width: 100%;
        margin: 0;
    }

    .headerContainer1 {
        width: 100%;
        margin: 0;
    }

    .searchBox {
        width: 80%;
        margin-left: 10%;
    }

    .header a {
        line-height: 3;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .header1 a {
        line-height: 3;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header1 {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .sortByContainer {
        display: flex !important;
        align-items: flex-end;
        flex-direction: column;
        padding-right: 2%;
    }

    .sortByContainer header {
        margin-right: 0;
    }

    body {
        background-image: none;
        background-color: white;
    }

    .sortSection {
        margin: 0;
    }

    .footerSection1 {
        width: 96%;
        padding: 2%;
    }

    .footerSection1 div {
        margin-right: 2%;
    }

    .footerSection1 nav {
        margin-left: 2%;
    }

    .footerHeading2 {
        text-align: right;
    }

    .socialIconContainer {
        margin: 0 !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: flex-end;
    }

    .footerSection2 {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .footerSection3 {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .product {
        width: 96%;
        margin: 2%;
    }

    .productInfo {
        margin: 0;
    }

    .imageContainer {
        padding: 0 0 0 10%;
        width: 50%;
    }

    .imageContainer2 {
        padding: 0 0 0 3%;
        width: 50%;
    }

    .productContainer {
        padding-top: 80px;
    }

    .reveal-modal img {
        max-height: 400px;
        width: auto;
    }

    .close-reveal-modal img {
        width: 60px;
        height: auto;
    }
}

@media screen and (max-width: 900px){
    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 35%;
        margin-top: -170%;
        opacity: 0;
        transition: all 1.2s;
    }
}

@media screen and (max-width: 850px){

    .checkoutProduct {
        margin: 0 5% 0 5%;
    }

    .deliveryMethod {
        margin: 0 5% 0 5%;
    }

    .checkout {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #payPalPostePay {
        width: 100% !important;
        margin-left: 50px;
        margin-right: 50px;
    }

    .mainCheckout {
        width: 100% !important;
        margin: 0 !important;
    }

    #creditCardForm {
        max-width: 1000px!important;
        width: 100%;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 40%;
        margin-left: 25%;
        margin-top: -170%;
        opacity: 0;
        transition: all 1.2s;
    }

    .productName {
        font-size: 25px;
    }

    .priceTag {
        font-size: 30px;
    }

    .imageContainer {
        padding-left: 5%;
    }

    .imageContainer2 {
        padding-left: 5%;
    }

    .buyButton {
        width: 200px;
        padding: 5px;
    }

    .searchBox {
        top: 70px;
    }

    .footerSection2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footerHeading3 {
        text-align: center;
    }

    .footerSection2 tr {
        display: flex;
        justify-content: center;
    }

    .footerSection2 div {
        padding-top: 5%;
    }

    .paymentIconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paymentIcon {
        padding: 2px 10px 10px 10px;
    }

    .total1 {
        width: 90% !important;
        margin: 5% 5% 20% 5% !important;
    }
}

@media screen and (max-width: 800px){

    .blog a {
        padding-left: 0;
    }

    .blog2 a {
        padding-left: 0;
    }

    .companyName p {
        margin-right: 8px !important;
        margin-left: 8px;
    }

    .customersSupport a {
        margin-left: 8px;
        margin-right: 8px !important;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        margin-left: 48%;
        margin-top: -190%;
        opacity: 0;
        transition: all 1.2s;
    }

    .header {
        visibility: hidden;
    }

    .header1 {
        visibility: hidden;
    }

    .menuSmallScreen {
    background-color: rgba(255, 255, 255, 0.781);
    }

    .menuSmallScreen img {
        visibility: visible;
        order: -2;
    }

    .here2 {
    background:  rgba(207, 207, 207, 0.527);
    }

    .blog p {
        font-size: 14px;
    }

    .blog2 p {
        font-size: 14px;
    }

    .footerSection3Bottom {
        flex-direction: column;
        align-items: center;
    }

    .companyName {
        align-self: center;
        margin-bottom: 15px;
    }

    .companyName p {
        padding: 0;
        margin-right: 15px;
    }

    .customersSupport p {
        padding: 0;
    }

    .customersSupport a {
        padding: 0;
        margin-right: 15px;
    }
}

@media screen and (max-width: 735px){

    #creditCardForm img {
        height: 30px;
        margin: 2px;
    }

    #cirrus {
        height: 30px !important;
    }

    #credit_cards {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        margin-left: 53%;
        margin-top: -200%;
        opacity: 0;
        transition: all 1.2s;
    }


    .footerSection1 {
        flex-direction: column;
    }

    .footerSection1 nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .footerSection1 div {
        margin: 0;
    }

    .footerSection1 p {
        text-align: center;
    }

    .footerSection1 form {
        display: flex;
        justify-content: center;
    }

    .footerHeading1 {
        text-align: center;
    }

    .footerHeading2 {
        padding-top: 5%;
    }

    .footerHeading2 {
        text-align: center;
    }

    .socialIconContainer {
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .socialIconContainer a {
        margin-left: 5%;
        margin-right: 5%;
    }

    .socialIcon {
        padding-left: 5px;
    }

    .footerSection3 {
        flex-direction: column;
        align-items: center;
    }

    .companyName {
        align-self: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 640px){

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        margin-left: 65%;
        margin-top: -230%;
        opacity: 0;
        transition: all 1.2s;
    }

    .showLargeImage {
        visibility: hidden;
    }
}

@media screen and (max-width: 550px){

    #creditCardForm .payment select {
        margin-right: 8px !important;
        margin-left: 8px;
    }

    .validToDate {
        display: flex;
        justify-content: center;
    }

    .checkout {
        padding: 0px 20px 20px 20px !important;
    }

    .deliveryChoise {
        flex-direction: column !important;
    }

    .deliveryPrice {
        align-self: flex-end !important;
    }

    .deliveryMethod h1 {
        text-align: center;
    }

    .checkoutProduct {
        flex-direction: column;
    }

    .checkoutProduct div {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px 0 5px 0;
        margin-top: 30px;
    }

    .checkoutProduct p {
        margin: 3px 0 3px 0;
    }

    .name {
        font-size: 18px !important;
    }

    .price {
        font-size: 20px !important;
        font-weight: 600;
    }

    .ref {
        font-size: 12px !important;
    }

    .orderCreditInfo {
        flex-direction: column !important;
    }

    #credit_cards {
        display: flex;
        justify-content: center;
    }

    #expiration-date {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #expiration-date select {
        width: 25%;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        margin-left: 54%;
        margin-top: -150%;
        opacity: 0;
        transition: all 1.2s;
    }

    .productContainer {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 40px;
    }

    .imageContainer {
        width: 96%;
        padding: 0 2% 5% 2%;
        margin: 0;
    }

    .imageContainer2 {
        width: 96%;
        padding: 0 2% 5% 2%;
        margin: 0;
    }

    .productInfo {
        width: 96%;
        padding: 0 2% 0 2%;
        text-align: center;
    }

    .stars {
        justify-content: center;
    }

    .column {
        width: 96%;
        padding: 2%;
    }

    .products {
        width: 100%;
        margin: 0;
    }

    .productContainer2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column2 a {
        width: 100%;
        margin: 2%;
    }

    .spacer {
        margin: 0;
    }

    .header a {
        padding: 20px;
    }

    .header1 a {
        padding: 20px;
    }

    .headLine {
        padding-top: 50px;
        position: relative;
    }

    #headLine {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sortSection {
        padding-top: 20px;
    }

    .sortByContainer {
        align-items: center;
    }

    .socialIconContainer {
        flex-wrap: wrap;
    }

    .socialIconContainer a {
        margin: 0 3% 3% 3%;
    }

    .footerSection3 {
        flex-direction: column;
        align-items: center;
    }

    .companyName {
        align-self: center;
        flex-direction: column;
        align-items: center;
    }

    .menuSmallScreen img {
        width: 20px;
        height: 20px;
    }

    .menuSmallScreenOptions a {
        width: 70%;
    }
}

@media screen and (max-width: 450px){

    .blog {
        display: none;
    }

    .blog2 {
        display: block;
        visibility: visible;
    }

    .deliveryChoise h4 {
        font-size: 10px !important;
    }

    .buyButton:after {
        content: "";
        background: #363636;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        margin-left: 56%;
        margin-top: -170%;
        opacity: 0;
        transition: all 1.2s;
    }

    .menuSmallScreenOptions a {
        font-size: 26px;
    }

    
}

/* ----------------------------------- Tobbes css    ---------------------------------------*/
.ul {
    
    text-align: center;
    list-style-type: none;     
    padding: 50px;
    margin: 50px;
    color: black;
}

.ul-1 {
        
    text-align: left;
    list-style-type: none;
    margin-left: 5em;        
}
        
.a {
        
    font: 15px/25px Arial, sans-serif;
    text-decoration: none;
    color: black;    
}
 
.button {
    background-color: lightslategrey;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 12px;
    box-shadow: 0px 7px 10px 0px rgba(153, 153, 153, 0.336);
}

.button:hover {
    background-color: lightgrey;
    color: white;
}

#main{
    width:910px;
    height:620px;
    margin:80px;
}

#first{
    width:300px;
    height:550px;
    box-shadow:0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    float:left;
    padding:10px 50px 0;
    background:linear-gradient(#fff,#f2f6f9);
}

label{
    font-size:15px;
}

.input{
    width:300px;
    padding:10px;
    margin-top:10px;
    margin-bottom:35px;
    border-radius:5px;
    border:1px solid #cbcbcb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
}

.input[type=submit]{
    background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
    box-shadow:inset 0 1px 0 0 #7bdcf4;
    border:1px solid #0F799E;
    color:#fff;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
    text-shadow:0 1px 0 #13506D;
}

.input[type=submit]:hover{
    background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%)
}

.contactIcon2 {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: lightslategrey;
    border-radius: 10px;
}

.column1{
     width: 30%;
    float: left;
    margin: 1%;    
}
    
.column3 { 
    margin-top: 80px;
    margin-right: 5%;
    float: left;
}

.body2 {
    background-image: none;
    background-color: white;
    margin:0;
    padding:0;
    font-family:'Ubuntu',sans-serif
}
/* -------------- AK lägger sig i lite för att få det att flyta ihop med övriga sidor-------------*/
.h2 {
    text-align: center;
}

#main {
    width: 100%;
    height: auto;
    margin:0;
}

.column1 {
    float: none;
    display: flex;
    justify-content: flex-start;
}

.column3 {
    margin: 0;
    width: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 10% 50px 10%;
    width: 80%;
}

.fitToPage {
    width: 100%;
}

.ul-1 {
    margin: 0;
    display: flex;
    justify-content: center;
}

.contactIcon2 {
    margin-top: 0;
}

.border {
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.button {
    padding: 0;
    width: 200px;
    height: 60px;
    margin: 20px;
}

.button1 {
    border-radius: 7px;
}

.buttonContainer {
    margin: 0px;
}

.ul {
    display: flex;
    width: 80%;
    padding: 0;
    margin: 5% 10% 5% 10%;
    justify-content: center;
}

.input {
    width: 100%;
    height: 35px;
    padding: 0;
}

.input[type=submit] {
    width: 100%;
}

input.input::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}

textarea.dmsg::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 0;
}

.dmsg {
    margin-top: 10px;
}

.column3 p {
    font-weight: 600;
}

@media screen and (max-width: 1220px){
    .ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
   .columns {
       flex-direction: column;
   }

   .column1 {
       justify-content: center;
   }

   .column3 {
        align-items: center;
        margin-top: 50px;
   }

   #first {
    padding: 0 3% 0 3%;
}
}

@media screen and (max-width: 610px){
    .ul {
        width: 100%;
        align-items: center;
        margin: 0;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){

    textarea {
        width: 100%;
    }
}

/* ----------------------------- CHECKOUT ------------------------------- */

.mainCheckout {
    width: 80%;
    margin-left: 10%;   
}

.addedToCart h2 {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}
/*
.productHeadLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.productHeadLine p {
    color: black;
    font-size: 18px;
}

.checkoutPrImg {
    width:15%;
    height: 215%;
}

.checkoutProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.chooseNr {
    height: 20px;
    width: 40px;
    padding-top: 5px;
}

input.chooseNr::-webkit-input-placeholder {
    color: rgb(5, 5, 5);
    font-size: 15px;
}

.remove {
    color: gray;
    text-decoration: none;
}*/

/* -----------------------------------------*/

.checkoutPrImg {
    width: 150px !important;
    height: auto !important;
}

.checkoutTable {
    border-collapse: collapse;
    width: 100%;
}

.checkoutTable th {
    padding-bottom: 20px;
}

.checkoutTable img {
    width: 20px;
}

.tableRow {
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 180px;
}

.chooseNr {
    height: 12px;
    width: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

input.chooseNr::-webkit-input-placeholder {
    color: rgb(5, 5, 5);
    font-size: 15px;
}

.addedToCart {
    margin-top: 80px;
    font-family: sans-serif;
}

.addedToCart h2 {
    margin-bottom: 80px;
    text-align: center;
}

.addedToCart th {
    font-size: 18px;
    text-align: left;
}

.right {
    text-align: right !important;
}

.addedToCart p {
    color: rgb(197, 197, 197);
    font-size: 15px;
}

.addedToCart td {
    font-size: 18px;
    /*padding: 15px 50px 0 50px;*/
}

.addedToCart a {
    color: gray;
    text-decoration: none;
}

.total1 {
    width: 30%;
    margin-left: 69%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 150px;
}

.total1 p {
    color: black;
    font-size: 16px;
    margin-top: 0;
}

.totalPrice b {
    font-size: 22px;
}

.totalPrice p {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.numberProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.shippingFee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalPrice {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deliveryMethod {
    font-family: sans-serif;
    margin-bottom: 100px;
}

.deliveryMethod h1 {
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 20px;
    margin: 0;
    font-size: 25px;
}

.deliveryMethod h2 {
    margin: 0;
}

.deliveryMethod h3 {
    font-size: 18px;
    margin: 0;
}

.deliveryMethod h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 100;
    color: rgb(216, 154, 166);
}

/* ----------------------------- RADIO BUTTON STYLE ----------------------------------------- */


@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #40e0d0;
  }
  .option-input:checked::before {
    height: 25px;
    width: 25px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 25px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
  
  .radioButton {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .radioButton label {
    display: block;
    line-height: 40px;
  }

  .radioButton div {
      padding-left: 30px;
  }
  
  .radioButton p {
      margin: 10px 0 10px 0;
      font-weight: 100;
  }

/* ------------------------------------------------------------------------------------------ */

.deliveryChoise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.deliveryPrice {
    align-self: center;
}

.paymentMethod {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 150px;
}

.paymentMethod h1 {
    font-size: 24px;
    margin: 0;
}

.fees {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 20px 0 20px;
    border: 1px solid rgb(187, 187, 187);
}

.fees p {
    margin: 0;
    font-size: 14px;
}

.totalPrice2 {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalPrice2 b {
    font-size: 18px;
}

.totalPrice2 p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.paymentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.paymentContainer div {
    display: flex;
    flex-direction: column;
}

.paymentMethod img {
    width: 80px;
}

/* -------------------------------------------- KORTINPUT STYLING -------------------------------------------------- */

#creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    box-sizing: border-box;
}
#creditCardForm label {
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}
#creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
#creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
}
#creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 1.42857143;
}
#creditCardForm select {
    box-sizing: border-box;
}

#creditCardForm option {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}

#creditCardForm img {
    box-sizing: border-box;
}

#creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#creditCardForm .payment .form-control::-webkit-input-placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(175, 175, 175);
    font-size: 20px;
}

#creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
#creditCardForm .CVV {
    width: 35%;
}
#creditCardForm #card-number-field {
    width: 100%;
}
#creditCardForm #expiration-date {
    width: 49%;
}
#creditCardForm #credit_cards {
    width: 60%;
    margin-top: 25px;
    text-align: right;
}

.orderCreditInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

#creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
#creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 20px;
    background: linear-gradient(to right,#00b8b0 0%,#00b8b0 25%,#0084a4 100%);
    background-size: 100%;
    color: #fff;
    border-width: 0px; 
    cursor: pointer;
    box-sizing: border-box;
     display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#creditCardForm .payment select {
    padding: 10px 0px 10px 0px;
    margin-right: 15px;
    width: 90px;

}
.transparent {
    opacity: 0.2;
}

#cirrus {
    height: 49px;
}

@media(max-width: 650px) {
    #creditCardForm .owner,
    #creditCardForm .CVV,
    #creditCardForm #expiration-date,
    #creditCardForm #credit_cards {
        width: 100%;
    }
    #creditCardForm #credit_cards {
        text-align: left;
    }
}

/* --------------------------------------------------------------------------------------------------------- */

.placementPayPoste {
    display: flex;
    justify-content: center;
}

#payPalPostePay {
    width: 50%;
    border: 1px solid rgb(187, 187, 187);
    margin-bottom: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#payPalPostePay input {
    align-self: flex-end; 
    font-family: sans-serif;
    font-size: 18px;  
}

#payPalPostePay p {
    font-family: sans-serif;
}

.approvePayment {
    height: 40px;
    width: 200px;
    margin-top: 50px;
    background: linear-gradient(to right,#00b8b0 0%,#00b8b0 25%,#0084a4 100%);
    background-size: 100%;
    color: #fff;
    border-width: 0px; 
    cursor: pointer;
}

.contactInfo {
    display: flex;
    justify-content: center;
}

.contactInfo h3 {
    font-family: sans-serif;
}

.checkout {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
    margin-bottom: 100px;
    border: 1px solid rgb(187, 187, 187)
}

.checkoutInput {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid rgb(187, 187, 187)
}

.checkoutText {
    padding: 5px 0 0 0;
    width: 100%;
    margin-bottom: 10px;
}

textarea.checkoutText::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    padding-left: 10px;
    padding-top: 5px;
    font-size: 18px !important;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.checkoutBuyButton {
    width: 250px;
    height: 60px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 25px;
}

.checkoutButton {
    display: flex;
    flex-direction: column;
}

.checkoutButton .approvePayment {
    align-self: flex-end;
}

input.checkoutInput::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    font-size: 18px;
}

textarea.checkoutText::-webkit-input-placeholder {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
    color: rgb(175, 175, 175);
    font-size: 15px;
}

.bBody {
    box-sizing: border-box;
}

b.Main {
    box-sizing: border-box;
}

.heading {
    box-sizing: border-box;
}